logs
dist/*
**/*.zip
**/*.tar.bz2
**/build
**/sync/*
**/*.userdb
**/user.yaml
**/installation.yaml
**/user_*.txt
**/*.gram
**/*.custom.yaml
**/*.ocd2
**/*.hidden
**/*.nomedia
shared/dicts/*.dict.yaml
shared/dicts_zian/*.dict.yaml
shared/lua/clib/lua-utf8
shared/lua/clib/*.so
themes/backgrounds
